   h1, h2{
    color: #FFFFFF;
   } 
   body{
       animation: pulse 6s infinite;
       max-width: 13cm;
   }
   
   @keyframes pulse {
       0% {
           background-color: #FFFFFF;
       }
       100% {
           background-color:#FF0000;
       }
   }